$black: #000000;

$whiteSilver: rgba(224, 224, 224, 0.5);
$white: #E0E0E0;
$whiteAbsolute: #ffffff;

$photoGradient: linear-gradient(360deg, #241F24 0%, rgba(91, 91, 91, 0.447552) 34.11%, rgba(187, 186, 192, 0.26) 62.5%);
$photoGradientHover: linear-gradient(360deg, #241F24 1.04%, rgba(91, 91, 91, 0.26) 6.99%, rgba(187, 186, 192, 0) 12.29%);